* {
    margin: 0;
    padding: 0;
}

.App {
    margin: 20px 50px;
    padding: 30px;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 10px;
}
.App p {
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: blueviolet;
}
.App button {
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 184, 50);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.App button:hover {
    border-radius: 30px;
    color: rgb(11, 152, 136);
    background-color: rgb(158, 247, 171);
    font-weight: bold;
}
